.subnav {
    display: none;

    padding: .5rem 0;
    width: 16.5rem;

    position: absolute;
    top: 100%;
    left: 0;

    border-radius: 0 0 5px 5px;

    background-color: $blue;
    box-shadow: 0 6px 8px rgba($black, .2);

    @include breakpoint($tablet-bp) {
        position: static;
        width: 100%;
        padding-left: 1rem;

        background-color: transparent;
        box-shadow: none;
    }
}

.subnav__link {
    display: block;
    padding: .45rem 1.2rem;
    color: $white;
    font-size: 1.2rem;
    text-decoration: none;

    transition: backgroud-color .2s is-in-out;

    &:hover {
        background-color: darken($blue, 5% );
    }

    @include breakpoint($tablet-bp) {
        padding-left: 0;
        padding-right: 0;

        font-size: 1.4rem;
    }
}