<div class="modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="/assets/images/cancel.svg" alt="Закрыть">
        </button>

        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="https://www.instagram.com">
                    <img src="/assets/images/instagram45.svg">
                </a>
            </li>


            <li class="social__item">
                <a class="social__link" href="https://vk.com">
                    <img src="/assets/images/vk45.svg">
                </a>
            </li>


            <li class="social__item">
                <a class="social__link" href="https://twitter.com">
                    <img src="/assets/images/twitter45.svg">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="https://facebook.com">
                    <img src="/assets/images/facebook45.svg">
                </a>
            </li>
        </ul>
    </div>
</div>