<aside class="sidebar" id="sidebar1">
    <div class="sidebar__header">
        <img src="https://i.pinimg.com/originals/4a/b8/3a/4ab83a3aca14fedb07b3be48baafc1ef.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/image.jpg" alt="">
            <div class="profile__header">
                <div class="profile__name">E.Mirk</div>
                <div class="profile__prof">Beginner Front-End Developer</div>
            </div>


            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/inst.svg" alt="instagram">
                    </a>
                </li>


                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="vkontakte">
                    </a>
                </li>


                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pin.svg" alt="pinterest">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="/assets/images/facebook .svg" alt="facebook">
                    </a>
                </li>
            </ul>

            <div class="profile__text">

                <p>Личный блог</p>

            </div>

        </div>

        <!-- Mobile-Navigation -->
        <nav class="nav nav--mobile">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Фото</a>

                        <ul class="subnav">
                            <li>
                                <a class="subnav__link" href="#">HTML</a>
                            </li>
                            <li>
                                <a class="subnav__link" href="#">CSS</a>
                            </li>
                            <li>
                                <a class="subnav__link" href="#">JS</a>
                            </li>
                        </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="text.html">Обо мне</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="text.html">Реклама</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="text.html">Выйти</a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="sidebar__footer">
        <a href="works.html" class="btn btn--red">Мои работы</a>
        <button class="btn btn--blue"
            type="button" data-modal="contact-modal">Написать мне
        </button>
    </div>
</aside>